* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background: #fefbd8;
    position: sticky;
}

.logo {
    margin-left: 30px;
}

.logo img {
    width: 100px;
    height: 70px;
    cursor: pointer;
}

.btn {
    font-size: 20px;
    margin: 12px 20px 0 0;
    width: 100px;
    height: 43px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: #fff;
    cursor: pointer;
}

.side {
    width: 190px;
    height: 630px;
    background: hsla(89, 43%, 51%, 0.3);
    margin-bottom: 0;
    padding-left: 0;
}

.side-view {
    margin-left: 44px;
    list-style-type: none;
    margin-bottom: 30px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: orange;
}

.active {
    padding: 8px 5px;
    background: black;
    color: #fff;
    border-radius: 5px;
}

.data {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

article {
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
}

.card {
    background: #d5f4e6;
    width: 30%;
    padding: 20px;
    margin-top: 15px;
}

.more-btn {
    text-align: end;
}

.more-btn button {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 30px;
    background: #80ced6;
    text-align: center;
    padding: 3px 30px
}




@media (max-width: 480px) {
    header {
        background: transparent;
    }

    .btn {
        background: rgb(147, 226, 147);
        margin-left: -100px;
    }

    .side {
        height: 2050px;
    }

    .card {
        width: 80%;
        margin: 5px;
    }

    .more-btn {
        width: 100%;
        text-align: end;
    }


}

@media (min-width: 481px) and (max-width: 768px) {
    header {
        background: transparent;
    }

    .btn {
        background: rgb(147, 226, 147);
        margin-left: 1000px;
        margin-left: 400px;
    }

    .side {
        height: 1600px;
    }

    .card {
        width: 90%;
        margin: 5px;
    }

    .more-btn {
        width: 100%;
    }

}